.app__chef{
   width: 100%;
    height: 100vh;
   display: flex;
   justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  
}

.app__chef-img{
    max-width: 400px;
    
    margin: auto;
    
 
}

.app__chef-img img{
    
width: 100%;

}
.app__chef__sidetext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin: auto;
    padding-bottom: 2rem ;
    padding-left:2rem;
    width: 40%;
    flex-wrap: wrap;
    
    
    
}

.app__chef__container-signature{

    padding-top: 1rem;
    min-width: 180px;
    max-width: 400px;
    height: auto;
    
}


.app__chef-signature{
    width: 100%;
    
}



.app__chef__tags {
    padding-top: 1.5rem;
   
    padding-bottom: 1rem;
}

.app__chef__sidetext__quote {
  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.app__chef__sidetext__quote img{
    
    width: 47px;
    height: auto;
    padding-right: 1rem;
    


}

.app__chef__sidetext__quote + p{ 
    padding-bottom: 2rem;
    
}



@media screen and (min-width: 2000px) {

    .app__chef{
        justify-content: space-evenly;
    }
    .app__chef__sidetext h1{
        height: 100px;
        margin-bottom: 2rem;
    }
    .app__chef__sidetext{
        width: 50%;
        padding-left: 6rem;
    }
    .app__chef__sidetext__quote{
     margin-top: 4rem;

    }
    .app__chef-img img{
    
        width: 180%;
        
        }
    

}

@media screen and (max-width: 374px) {
  
   
}


@media screen and (max-width: 450px) {
    .app__chef{
        
        height: 110vh;

    }
    .app__chef__container-signature img{
        width: 220px;
    }
    .app__chef__sidetext{
        padding-left: 0rem;
        min-width: 200px;
        align-items: center;
        background: url('../../assets/bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
    }
    
   .app__chef__sidetext__quote{

    display: flex;
    flex-direction: row;
    
   }
   
}





@media screen and (max-width: 1000px) {

    .app__chef{
        flex-direction: row;
       

    }
.app__chef__sidetext{
  
 width: 390px;
}

    .app__chef-signature img{
        max-width: 350px;
       
        
        display: flex;
     
    }
   
}