
.app__gallery{

    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.app__gallery__container{ 
   
    
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.app__gallery__container-inner{
    display: flex;
   
}
.app__gallery__container-items{
    min-height: 200px;
    min-width: 400px;
    padding: 14px ;
}

.app__gallery__container-items img{

    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
    object-fit: cover;
}

.app__gallery__container-images{
 
    cursor: grab;
    overflow: hidden;


}
.app__gallery-arrows {
    
    display: flex;
    z-index: 10;
    justify-content: space-between;
    padding: 2rem 0;
}
.gallery__arrow-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
}


@media screen and (min-width: 2000px) {
 .app__gallery__container{

    padding-top: 5rem;
 }
 .app__gallery__container-items{
    min-height: 400px;
    min-width: 800px;
    padding: 14px ;
}

}
@media screen and (max-width: 982px) and (min-width: 450px) {
    .app__gallery{
        margin-top: 27rem;

    }
}


@media screen and (max-width: 450px) {
    .app__gallery__container-items{
        
        min-width: 215px;
       
    }
   
    .app__gallery{
        margin-top: 17rem;

    }
} 