.LogoText__align{

    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogoText__align img{
    width: auto;
    height: 25px;
    margin-right: 1rem;
    
}
@media screen and (max-width: 330px){
    .LogoText__align p{
        font-size: 17px;
    }
    .LogoText__align img{
        height: 20px;
    }
}